/* Scss Document */

$unsemantic-ie7-support: false;
$container-max-width: 960px;
$gutter-half: 16px;

@import "unsemantic/reset.scss";
@import "unsemantic/unsemantic-grid-responsive";

$size-font-1: 40px;
$size-font-2: 30px;
$size-font-3: 18px;
$color-blue: #007aff;
$color-orange: #ff9500;
$color-bg-light: #F2F5F7;
$color-separator-black: rgba(0,0,0,.25);
$color-text-black-dark: rgba(0,0,0,.75);
$color-text-black-light: rgba(0,0,0,.50);

// Mixins

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
	-webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

// General

body {
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, "sans-serif";
  font-size: $size-font-3;
  text-align: center;
}
body.light {
  background: $color-bg-light;
  color: $color-text-black-light;
}

h1 {
  color: $color-text-black-dark;
  font-size: $size-font-1;
  margin: 64px 0 32px;
}

p.subtitle {
  font-size: $size-font-2;
  margin: 32px 0;
}

a {
  color: $color-blue;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

em {
  font-style: normal;
  font-weight: bold;
}

header {
  border-bottom: 1px solid $color-separator-black;
  font-weight: bold;
  line-height: 48px;
  @media screen and (min-width: $media-desktop-min) {
    padding: 0 !important;
  }
  a {
    color: $color-text-black-light;
    @include transition(.25s);
    &:hover {
      color: $color-text-black-dark;
    }
  }
  em {
    font-style: normal;
    font-weight: 500;
  }
}

// Classes

.left {
  float: left;
}

.right {
  float: right;
}