/* Scss Document */

$size-page-width: 896px;

$unsemantic-ie7-support: false;
$container-max-width: $size-page-width;
$gutter-half: 16px;

@import "unsemantic/reset.scss";
@import "unsemantic/unsemantic-grid-responsive";

// Vars

$size-font-1: 40px;
$size-lh-1: 56px;
$size-font-2: 30px;
$size-lh-2: 40px;
$size-font-3: 18px;
$size-lh-3: 28px;

$color-blue: #007AFF;
$color-orange: #FF9500;
$color-purple: #AF52DE;
$color-bg-light: #F2F5F7;
$color-separator-black: rgba(0,0,0,.25);
$color-separator-white: rgba(255,255,255,.25);
$color-text-black-dark: rgba(0,0,0,.75);
$color-text-black-light: rgba(0,0,0,.50);
$color-text-white-dark: #FFF;
$color-text-white-light: rgba(255,255,255,.75);

// Mixins

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transform...) {
	-webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

// General

body {
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, "sans-serif";
  font-size: $size-font-3;
  text-align: center;
  line-height: $size-lh-3;
  color: $color-text-black-light;
  &.light {
    background: $color-bg-light;
  }
  &.blue {
    background: $color-blue;
  }
}

h1 {
  color: $color-text-black-dark;
  font-size: $size-font-1;
  line-height: $size-lh-1;
  margin-bottom: 32px;
  &.white {
    color: $color-text-white-dark;
  }
}
h2 {
  color: $color-text-black-dark;
  font-size: $size-font-2;
  line-height: $size-lh-2;
  margin-bottom: 32px;
  &.white {
    color: $color-text-white-dark;
  }
}
h3 {
  color: $color-text-black-dark;
  font-size: $size-font-3;
  line-height: $size-lh-3;
  margin-top: 16px;
  margin-bottom: 8px;
  &.white {
    color: $color-text-white-dark;
  }
}
h4 {
  color: $color-text-black-light;
  font-size: $size-font-3;
  line-height: $size-lh-3;
  &.white {
    color: $color-text-white-dark;
  }
}

p.white {
  color: $color-text-white-light;
}
.subtitle {
  font-size: $size-font-2;
  line-height: $size-lh-2;
  margin-bottom: 32px;
}

a {
  color: rgba($color-blue, 0.75);
  text-decoration: none;
  @include transition(.25s);
  &:hover {
    color: $color-blue;
    text-decoration: underline;
    svg.blue {
      fill: $color-blue;
    }
  }
  svg.blue {
    @include transition(.25s);
    fill: rgba($color-blue, 0.75);
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

header {
  border-bottom: 1px solid $color-separator-black;
  font-weight: bold;
  line-height: 48px;
  @media screen and (min-width: $size-page-width) {
    padding: 0 !important;
  }
  a {
    color: $color-text-black-light;
    @include transition(.25s);
    &:hover {
      color: $color-text-black-dark;
    }
  }
  em {
    font-style: normal;
    font-weight: 500;
  }
  .right a { margin-left: 10px; }
  .blue & {
    border-bottom: 1px solid $color-separator-white;
    color: $color-text-white-light;
    a {
      color: $color-text-white-light;
      &:hover {
        color: $color-text-white-dark;
      }
    }
  }
}

footer {
  border-top: 1px solid $color-separator-black;
  font-size: 16px !important;
  line-height: 22px;
  padding: 16px 0 !important;
  .list {
    @media screen and (min-width: $media-mobile-max) {
      text-align: left
    }
  }
  .blue & {
    border-top: 1px solid $color-separator-white;
    color: $color-text-white-light;
    a {
      color: $color-text-white-light;
      &:hover {
        color: $color-text-white-dark;
      }
    }
    h4 { color: $color-text-white-dark; }
  }
}

// Widgets

.cc-banner {
  box-shadow: 0 8px 16px rgba(0,0,0,0.25)
}

.app_title {
  line-height: 48px;
  span {
    font-size: $size-font-3;
    font-weight: normal;
    color: $color-text-black-light;
  }
}
.app_title-page {
  line-height: 56px;
  span {
    font-size: $size-font-2;
  }
}
.app_title .white span {
  color: $color-text-white-light;
}

.dl-buttons {
  margin-top: 32px - 8;
  margin-bottom: 64px - 8;
  a {
    display: inline-block;
    margin: 8px 16px;
    line-height: 40px;
  }
}

.text-block {
  text-align: left;
  h2 {
    margin-bottom: 16px;
  }
  li {
    list-style-type: circle;
    margin-left: 32px;
  }
  p:not(:last-child), ul:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Classes

.block {
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  margin-top: 32px; margin-bottom: 32px;
  @media screen and (min-width: $size-page-width) {
    border-radius: 5px;
  }
  
  &-white {
    background: white;
  }
  &-blue {
    background: $color-blue;
  }
  &-purple {
    background: $color-purple;
  }
}

a.button-app {
  display: inline-block;
  color: $color-text-white-dark;
  background: black;
  line-height: 38px;
  width: 118px;
  border-radius: 8px;
  border: 1px solid #A6A6A6;
  &:hover {
    color: $color-text-white-dark;
    text-decoration: none;
  }
}

img.full-width {
  width: 100%;
  height: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.code {
  font-family: 'Inconsolata';
}

@for $i from 0 through 10 {
  $num: $i * 8;
  $size: $num * 1px;
  
  .margin-top-#{$num} {
    margin-top: $size;
  }
  .margin-bottom-#{$num} {
    margin-bottom: $size;
  }
}

@for $i from 0 through 10 {
  $num: $i * 8;
  $size: $num * 1px;
  
  .mobile-margin-top-#{$num} {
    @media screen and (max-width: $media-mobile-max) {
      margin-top: $size;
    }
  }
  .mobile-margin-bottom-#{$num} {
    @media screen and (max-width: $media-mobile-max) {
      margin-bottom: $size;
    }
  }
}